
   
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tech Blog</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
		/>
	</head>

	<body>
		<div>
			<nav class="container-fluid border border-primary">
				<div class="row justify-content-start">
					<h1>
						<a href="/" class="col-4 text-dark">Tech Blog</a>
					</h1>
					<a href="/" class="col-1 text-center fw-bold text-dark">Home</a>
					{{#if loggedIn}}
						<a
							href="/dashboard"
							class="col-1 text-center text-dark"
						>Dashboard</a>
						<button
							id="logout"
							class="col-1 text-center btn btn-outline-none text-dark"
						>Logout</button>
					{{else}}
						<a href="/login" class="col-1 text-dark">Login</a>
					{{/if}}
				</div>

			</nav>
			<header>

			</header>
			<main>
				{{{body}}}
			</main>

			<footer>
				Thanks for visiting!
			</footer>
		</div>
		{{#if loggedIn}}
			<script src="/javascript/logout.js"></script>
		{{/if}}
	</body>
