<ol class='post-list'>
	{{#each posts as |post|}}
		<li>
			{{!-- using a partial with ">" followed by the name of the partial file and the object we'll pass to the partial --}}
			{{> post-info post }}
		</li>
	{{/each}}
</ol>
	